.Container{
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 500px;
    height: fit-content;
}

.Title {
    font-size: 32px;
    color: rgb(24, 24, 24);
}